<ul class="catalog">
	<li class="section"><%= t('catalogs.mini.new_items') %></li>
	<li class="group">
		<ul id="new-slider">
			<div class="slides-container">
				<li class="item">
					<div>
						<div class="image"></div>
						<div class="info">
							<p class="ff">Las mil y una noches</p>
							<p class="sf">Libro</p>
							<p class="tf">$ 150 MXN</p>
						</div>
					</div>
				</li>
			
				<li class="item">
					<div>
						<div class="image"></div>
						<div class="info">
							<p class="ff">Little Schemer</p>
							<p class="sf">Libro</p>
							<p class="tf">$ 350 MXN</p>
						</div>
					</div>
				</li>
			</div>
		</ul>
	</li>
	
	<li class="section"><%= t('catalogs.mini.discounts') %></li>
	<li class="group">
		<ul id="discounts-slider">
			<div class="slides-container">
				<li class="item none">
					<div>
						<h3>No hay ofertas por el momento</h3>
					</div>
				</li>
			</div>
		</ul>
	</li>
	<li class="subsection">
		<ul>
			<li><span class="quantity">22</span> <%= t('catalogs.items.books') %></li>
			<li><span class="quantity">19</span><%= t('catalogs.items.vinils') %></li>
			<li><span class="quantity">34</span><%= t('catalogs.items.cds') %></li>
			<li><span class="quantity">4</span><%= t('catalogs.items.accessories') %></li>
			<li><span class="quantity">1</span><%= t('catalogs.items.pre_sales') %></li>
		</ul>
	</li>

</ul>