<%= form_for @pre_sale, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :event, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :event, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :date, :class => 'control-label' %>
    <div class="controls">
			<div class="input-append date" id="datepicker" data-date="12-02-2012" data-date-format="dd-mm-yyyy">
			    <input id="date_text" size="16" type="text" value="12-02-2012" name="date[text]" readonly>
			    <span class="add-on"><i class="icon-th"></i></span>
			</div>
    </div>
  </div>
  <div class="control-group">
    <%= label :hour_minute, t('activerecord.attributes.pre_sale.hour_minute'), :class => 'control-label' %>
    <div class="controls hour-minutes">
			<%= select_time %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :description, :rows => 6, :class => 'text_field' %>
    </div>
  </div>
	
	<%= render :partial => 'commons/form_fields', :locals => {:f => f} %>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('app.controls.cancel'),
                pre_sales_path, :class => 'btn' %>
  </div>
<% end %>
