<%- model_class = PreSale -%>
<div class="big-panel admin">
	<div class="page-header">
	  <h1><%= @pre_sale.event %> <span class="uppercased"><%= @pre_sale.date.in_time_zone("Mexico City").to_s(:short) %></span></h1>
		<h3><%= t('activerecord.models.pre_sale') %></h3>
		<div class="pull-right">
			<p class="price">$<%= @pre_sale.price %> MXN</p>
		</div>
	</div>

	<dl class="dl-horizontal">
	  <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
	  <dd><%= @pre_sale.description %></dd>
	</dl>
	
	<div class="form-actions">
	  <%= link_to t('app.controls.back'),
	              pre_sales_path, :class => 'btn'  %>
	  <%= link_to t('app.controls.edit'),
	              edit_pre_sale_path(@pre_sale), :class => 'btn' %>
	  <%= link_to t('app.controls.destroy'),
	              pre_sale_path(@pre_sale),
	              :method => 'delete',
	              :confirm => t('app.views.pre_sales.dialogs.destroy_confirmation'),
	              :class => 'btn btn-danger' %>
	</div>
	
	<%= render :partial => 'shared/associated_views', :locals => { :associated_record => @pre_sale } %>
</div>