<% unless defined?(views) %>
	<%- views = [:discounts, :pictures] %>
<% end %>

<ul class="nav nav-tabs">
	<li><a href="#home" data-toggle="tab" id="home-tab"><%= t('app.views.common.show.menu.home') %></a></li>
	<% if should_render_section(views, :discounts) %>
		<li><a href="#discounts" data-toggle="tab" id="discounts-tab"><%= t('app.views.common.show.menu.discounts') %></a></li>
	<% end %>
	<% if should_render_section(views, :pictures) %>
		<li><a href="#pictures" data-toggle="tab" id="pictures-tab"><%= t('app.views.common.show.menu.pictures') %></a></li>
	<% end %>
</ul>

<div class="tab-content">
	<div class="tab-pane active" id="home">
		<div class="hero-unit">
			<p><%= t('app.views.common.show.menu.instructions') %></p>
		</div>
	</div>
	<% if should_render_section(views, :discounts) %>
		<div class="tab-pane" id="discounts"><%= render :partial => 'discounts/index', :locals => {:item => associated_record} %></div>
	<% end %>
	<% if should_render_section(views, :pictures) %>
			<div class="tab-pane" id="pictures"><%= render :partial => 'pictures/index', :locals => {:item => associated_record} %></div>
	<% end %>
</div>