<%- model_class = Book -%>
<div class="big-panel">
	<div class="page-header">
	  <h1><%= t 'app.navbar.sections.books' %></h1>
	</div>
	<table class="table table-striped">
	  <thead>
	    <tr>
	      <th><%= model_class.human_attribute_name(:id) %></th>
	      <th><%= t('app.attributes.common.reference_id') %></th>
	      <th><%= model_class.human_attribute_name(:title) %></th>
	      <th><%= model_class.human_attribute_name(:author) %></th>
	      <th><%= t('app.attributes.common.price') %></th>
	      <th><%= t('app.attributes.common.created_at') %></th>
	      <th><%= t('app.attributes.common.quantity') %></th>
	
	      <th><%= t('app.navbar.sections.actions') %></th>
	    </tr>
	  </thead>
	  <tbody>
	    <% @books.each do |book| %>
	      <tr>
	        <td class="id-details"><%= link_to book.id, book_path(book) %></td>
					<td><%= book.reference_id || "---" %></td>
	        <td><%= book.title %></td>
	        <td><%= book.author %></td>
	        <td>$ <%= book.price %> MXN</td>
	        <td><%= distance_of_time_in_words_to_now(book.created_at, true) %></td>
					<td><%= book.quantity %></td>
	        <td>
	          <%= link_to t('app.controls.edit'), edit_book_path(book), :class => 'btn btn-mini' %>
	          <%= link_to t('app.controls.destroy'),
	                      book_path(book),
	                      :method => :delete,
	                      :confirm => t('app.views.books.dialogs.destroy_confirmation'),
	                      :class => 'btn btn-mini btn-danger' %>
	        </td>
	      </tr>
	    <% end %>
	  </tbody>
	</table>

	<%= link_to t('app.controls.new'),
	            new_book_path,
	            :class => 'btn btn-primary' %>
</div>