<%= render :partial => 'shared/error', :locals => {:resource => @discount, :for_selected_fields => [:note, :price, :percent_off] } %>

<%= form_for @discount, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :active, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :active, :class => 'check_box' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :price, :class => 'control-label' %>
    <div class="controls">
      $ <%= f.text_field :price, :value => @discount.discountable.price, :class => 'text_field input-small' %> MXN
    </div>		
  </div>

  <div class="control-group">
    <%= f.label :percent_off, :class => 'control-label' %>
    <div class="controls">
      &nbsp;&nbsp;&nbsp;<%= f.text_field :percent_off, :class => 'text_field input-mini' %> %
    </div>
  </div>

	<div class="control-group">
		<label class="control-label"><b><%= t('app.views.discounts.forms.notes.price')%></b></label>
    <div class="controls">
			$ <input class="input-small" id="price_after_discount" type="text" placeholder="0.0" disabled> MXN
    </div>
	</div>

  <div class="control-group">
    <%= f.label :note, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :note, :class => 'text_area', :rows => 2, :cols => 30 %>
    </div>
  </div>

	<%= hidden_field :discount, :discountable_type %>
	<%= hidden_field :discount, :discountable_id %>
	
  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('app.controls.cancel'),
                @discount.discountable, :class => 'btn' %>
  </div>
<% end %>
