<%- assoc_model_class = Discount -%>
<div id="discounts" class="well">
	<div class="header">
		<div class="title"><h3><%= t('app.views.related.discounts.head') %></h3></div>
		<div class="right"><%= link_to t('app.controls.add'), send("new_#{item.class.to_s.underscore}_discount_path", item), :class => "btn btn-inverse" %></div>
	</div>
	<div class="content">
		<% if item.discounts.empty? %>
			<p class="centered"><%= t('app.views.discounts.listing.none') %></p>
		<% else %>
			<table class="table table-striped">
			  <thead>
			    <tr>
			      <th><%= assoc_model_class.human_attribute_name(:note) %></th>
			      <th><%= assoc_model_class.human_attribute_name(:active) %></th>
			      <th><%= assoc_model_class.human_attribute_name(:price) %></th>
			      <th><%= assoc_model_class.human_attribute_name(:percent_off) %></th>
			      <th><%= t('app.navbar.sections.actions') %></th>
			    </tr>
			  </thead>
			  <tbody>
			    <% item.discounts.each do |discount| %>
			      <tr>
			        <td><%= discount.note %></td>
			        <td><%= t('app.views.discounts.fields.active')[discount.active] %></td>
			        <td>$<%= discount.price %> MXN</td>
			        <td><%= discount.percent_off %>%</td>
			        <td>
			          <%= link_to t('app.controls.edit'),
			                      [:edit, item, discount], :class => 'btn btn-mini' %>
			          <%= link_to t('app.controls.destroy'),
			                      discount_path(discount),
			                      :method => :delete,
			                      :confirm => t('app.views.discounts.dialogs.destroy_confirmation'),
			                      :class => 'btn btn-mini btn-danger' %>
			        </td>
			      </tr>
			    <% end %>
			  </tbody>
			</table>
		<% end %>
	</div>
</div>